#chart {
        position: relative;
        top: 30px;
        left: 30px;
/*         animation-name: chartright;
        animation-duration: 5s;
        animation-iteration-count: 1;
        transition: 5s; */
        animation: chartright 4s ease 0s 1 normal;
      }
      @keyframes chartright {
        0% {
          opacity: 0;
          transform: translateY(100px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

