#chart {
        position: relative;
        top: 100px;
        left: 100px;
        opacity: 0;
/*         animation-name: chartright;
        animation-duration: 5s;
        animation-iteration-count: 1;
        transition: 5s; */
/*         animation: chartright 4s both 0s 1 normal; */
        animation: chartright 2s;
/*         transform:translateY(-10px); */
      }
#chart.is-show {
    opacity: 1;
}
@keyframes chartright {
        0% {
          opacity: 0;
          transform:translateY(100px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
}

